/* MAIN SETTINGS
------------------------*/
body{
    font-size: 1em;
    font-family: "Avenir";
    overflow-y: hidden;
    max-width: 100vw;

}

.bg_image{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.05;
    overflow-x: hidden;
    z-index:  -1;;
}


/* NAVBAR
------------------------*/
.navbar_font_1{
    opacity: .5;
    font-size: 0.8em;
}

img.thumbnail{
    height: 20px;
}

.btnMenuFont{
    font-size: 0.8em;
}

#swMenuFont{
    display:none;
}


/*Status FELD
------------------------*/
#swStatusFeld{
    text-align:center;
    margin-top:5px;
    margin-bottom: 5px;
    height:40px;
    padding-top:10px;
    min-width: 100%;
}


/* MAIN CONTENT FIELD 
------------------------*/
.colSW{
    
}

/* CONTENT FIELD 1 */
.content_TOP_H1{
    color:whitesmoke;
    font-size:0.8em;
    margin-top:10px;
    margin-bottom:10px;
    border-bottom:1px solid #353738;
    user-select: none;
}

.btnNav{
   
    border: 0.8px solid #353738;
    background:transparent;
    font-size: 0.8em;
    outline: none;
    height: 20px;
    tab-index: -1;
}

.btnNav:focus{
    outline: none;
  }


/*BOTTOM NAV BAR 
------------------------*/