/* MAIN SETTINGS
------------------------*/
.font_color_1{
    color:#2E4D58;
}

.font_color_2{
    color: #1D292C;
}

.bg_color_1{
    background-color:#EEE5DB;
}

.bg_color_highlight{
    background-color: rgba(211,154,162,0.1);
}

body{

}

img.thumbnail {
    -webkit-filter:invert(100%);
     filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
}

.btn-light{
    background: transparent;
    border:none;
}

.navbar{
    background-color:#D3C3C3 !important;
   
}

/* NAVBAR
------------------------*/



/*Status FELD
------------------------*/
#swStatusFeld{
    background-color:#9E9AA2;
    color: #1D292C;
    
}


/* MAIN CONTENT FIELD 
------------------------*/
.colSW{
    border-right: 0.8px solid #EEE5DB;
}

/* PROJEKT COL */
#swMainProject{
    max-height: calc(100vh - 150px);
    opacity: 1;
    background: linear-gradient(180deg, rgba(211,154,162,0.5), rgba(239,229,219,0));
}

.swProjectRow:hover{
    color: #1D292C;
    background-color:  #EEE5DB;
 }

 /* NAV COL */
 .swNavTofRow{
    color: #2E4D58;

 }
 .swNavTofRow:hover{
    color: #1D292C;
    background-color:  #9E9AA2;
  }



/* CONTENT FIELD 1 */
.scrollableCol{
    height: calc(100vh - 150px);
    overflow-y: scroll;
}

.swText_Feld:focus, .swText_H1:focus {
    color:#1D292C;
  }

  /*BUTTONS
------------------------*/

.btnNav:hover, .btnHideContent:hover, .btnRemoveContent:hover{
    background-color: #34363a;
    color:white;
}





/*BOTTOM NAV BAR 
------------------------*/